.p6{
    background-color: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.p6-modal {
    margin: 0 auto;
    background-color: rgb(150, 218, 196);
    position: fixed;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 100px;
    display: none;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-10%);
    z-index: 2;

}

.p6-modal.show {
    display: flex;
}
.close-btn {
    position: absolute;
    top: 5%;
    left: 90%;
    ;
}

.modal-content {

}