.big {
    background-color: coral;
    width: 3rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -3rem;
    transition: .3s ease;
}



.big.show{
    left: 0;
}
.big > ul {
    background-color: aqua;
    padding: 0;
}

.big > ul > li {
background-color: coral;
    list-style: none;
}

.big > button {
    margin-left: 3rem;
    width: 3rem;
    background-color: coral;
    border: none;

}