* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    color: white;
    background: black;
}

#wrapper {
    
}

main {
    margin: 50px;
    
    display: flex;
    justify-content: center;
}



