*
{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: white;
}
nav{
    display: flex;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
}
ul{
    display: flex;
    list-style-type: none;
    font-weight: bold;
    flex-wrap: wrap;
}
nav li{
    color: gray;
    margin-left: 25px;
}
.menu{
    display: flex;

    align-items: center;
}
a{
    text-decoration: none;
    color: gray
}
i{
    padding-top: 10px;
}
.rmenu{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    left:calc((vw=50%)-100px);
    border: 1px solid rgb(255, 255, 255);
}
.logo img{ 
width: 100px;
}
.hv img{
    width: 100%;
    background-size: cover;
}

button{
    width: 50px;
    height: 30px;
    border-radius: .2cm;
    color: rgb(11, 11, 11);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(161, 161, 161);
}
.search{
    background-color: rgb(242, 242, 242);
    width: 200px;
    border: 1px solid white;
}