.file-input {
    display: none; /* 파일 업로드 버튼을 숨김 */
  }
  
.editor {
    button
{
 color: rgb(0, 0, 6);

} .header {
    border: 1px solid black;
    padding: 1rem;
} div {
    margin-right: 1rem;
}
} 

button {
    color: rgb(0, 0, 6);
}
