


body{
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    display: flex;
    padding: 10px;
    position: relative;
}
.menu {
    padding-top: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-bottom: 10px;
    position: relative;
    padding: 0px 20px 20px 60px;
    text-wrap: nowrap;
    color: rgb(231, 13, 13);
}


a {
    text-decoration: none;
    color: rgb(185, 240, 21);
}

ul ul{
    display: none;
    left: 100%;
    top: 0;
}

li:hover ul{
    display: block;
    position: absolute;
    top: 50px;
    left: 0px;
    
}

ul ul li{
    margin: 0;
    color: rgb(48, 234, 11);
}
.ham{
    padding-top: 10px;
    
}
.menuicon{
    display: none;
    background-color: rgb(14, 13, 13);
    width: 50px;
    height: 1px;
    margin-bottom: 5px;
    

}

@media screen and (max-width:768px){
    .menu{
        display: none;
    }
    .menuicon{
        display: flex;
        
    }
    nav{
        display: flex;
        justify-content: space-between;
        
    }
}

.hv img{
    width: 100%;
    position: fixed;
    top: 10px;
    z-index: -1;
}