td{
    border: 2px solid black;
}
main{
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    background-color: blanchedalmond;
}
div.box1{
    border: 1px double black;
    margin: 10px 100px 10px 100px;
    padding: 10px;
}
.header{
    text-align: center;
    margin: auto;
    width: 70%;
    background-color: aqua;
}
.text{
    text-align: center;
}
.footer{
    text-align: center;
}

.a{
    text-decoration: wavy;
}
.b{
    text-decoration: underline;
}
.c{
    text-decoration: dashed;
}
.d{
    text-decoration: dotted;
}