.p8 {
    text-align: center;
    background-color: red;
}

svg{
    background-color: red;
}

.chips {
    display: flex;
    justify-content: space-around;
}

header {
    width: 80vw;
    margin: auto;
}

.cards {
    padding: 3rem;
    width: 402px;
}

.card {
    margin-bottom: 5rem;
    border: 1px solid white;
}
